/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.timeline > li .timeline-time span.time {
	font-weight: bold;
	font-size: 25px;
	line-height: 38px;
}

.timeline li.timeline .timeline-body[data-name="SS"]{
	background: #4186BB;
}
.timeline li.timeline .timeline-body[data-name="HH"]{
	background: #ED5F23;
}
.timeline li.timeline .timeline-body[data-name="SK"]{
	background: #E0002A;
}
.timeline li.timeline .timeline-body[data-name="HT"]{
	background: #E70005;
}
.timeline li.timeline .timeline-body[data-name="LG"]{
	background: #C6064C;
}
.timeline li.timeline .timeline-body[data-name="OB"]{
	background: #EF868B;
}
.timeline li.timeline .timeline-body[data-name="LT"]{
	background: #F04E22;
}
.timeline li.timeline .timeline-body[data-name="WO"]{
	background: #9A304D;
}
.timeline li.timeline .timeline-body[data-name="KT"]{
	background: #868586;
}
.timeline li.timeline .timeline-body[data-name="NC"]{
	background: #2C5482;
}