/target
*.class
Thumbs.db
.classpath*
/bin
*.java.hsp
.DS_Store
.idea
myspring.iml
.springBeans
.externalToolBuilders
src/main/resources/dev/config.properties
src/main/resources/dev/log4j.xml
src/main/resources/rebel.xml
.ipynb_checkpoints/UrlParsing-checkpoint.ipynb
./ipynb_checkpoints/*
./ppt/*
./DecisionLearning/*