/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/

/*hello.jsp*/
/*BEGIN*/
.timeline > li .timeline-time span.time {
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
}

.timeline li.timeline .timeline-body[data-name="SS"] {
    background: #4186BB;
}

.timeline li.timeline .timeline-body[data-name="HH"] {
    background: #ED5F23;
}

.timeline li.timeline .timeline-body[data-name="SK"] {
    background: #E0002A;
}

.timeline li.timeline .timeline-body[data-name="HT"] {
    background: #E70005;
}

.timeline li.timeline .timeline-body[data-name="LG"] {
    background: #C6064C;
}

.timeline li.timeline .timeline-body[data-name="OB"] {
    background: #EF868B;
}

.timeline li.timeline .timeline-body[data-name="LT"] {
    background: #F04E22;
}

.timeline li.timeline .timeline-body[data-name="WO"] {
    background: #9A304D;
}

.timeline li.timeline .timeline-body[data-name="KT"] {
    background: #868586;
}

.timeline li.timeline .timeline-body[data-name="NC"] {
    background: #2C5482;
}
.timeline li.timeline .timeline-body[data-name="SS"] {  background: #4186BB;  }
.timeline li.timeline .timeline-body[data-name="HH"] {  background: #ED5F23;  }
.timeline li.timeline .timeline-body[data-name="SK"] {  background: #E0002A;  }
.timeline li.timeline .timeline-body[data-name="HT"] {  background: #E70005;  }
.timeline li.timeline .timeline-body[data-name="LG"] {  background: #C6064C;  }
.timeline li.timeline .timeline-body[data-name="OB"] {  background: #EF868B;  }
.timeline li.timeline .timeline-body[data-name="LT"] {  background: #F04E22;  }
.timeline li.timeline .timeline-body[data-name="WO"] {  background: #9A304D;  }
.timeline li.timeline .timeline-body[data-name="KT"] {  background: #868586;  }
.timeline li.timeline .timeline-body[data-name="NC"] {  background: #2C5482;  }

.timeline > li .timeline-body h2, .timeline > li .timeline-content {
    font-weight: bold;
}

.timeline > li .timeline-body img.timeline-img {
    width: 90px;
}

.page-header .page-header-top .page-logo .logo-default {
    margin: 0 0 0 0;
}

.page-header .container .page-header .container-fluid {
    margin-top: 20px;
}

.col-md-3 input.form-control-inline {
    width: 160px;
}

.explain > h1 {
    font-weight: bold;
    font-size: 42px;
}

.explain > p {
    font-family: "Apple SD Gothic Neo";
    font-size: 15px;
    color: rgba(0, 0, 0, 0.35);
    line-height: 12px;
    font-weight: 700;
}

.logo-default {
    width: 180px;
}

.logo_img {
    width: 280px;
}

.big_img {
    max-width: 720px;
}

.hover1 {
    width: 64px;
    height: 64px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    text-align: center;
    transition:all 0.6s;
}

.effect1:hover {
    transform: scale(1.15, 1.15);
}

.boxscore {
    text-align: left;
    background-color : #eff3f8;
}
.emblem-right {
    text-align: right;
}
.emblem-left {
    text-align: left;
}
.scorepoint {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #4c4c4c;
}

/* BoxScore DatePicker */

.datebox {
    padding-left: 0;
    padding-right: 0;
}

a:hover {
    text-decoration: none;
}
.datebox-content .day:hover {
    background-color : #ccc;
}
.datebox-content .day-sat:hover {
    background-color : #ccc;
}
.datebox-content .day-sun:hover {
    background-color : #ccc;
}

dl, ul, ol {
    list-style: none;
    margin:0;
    padding:0;
    border:0;
}

.portlet .light .col-md-12 .col-md-2 {
    padding : 0;
}

.section-date {
    text-align : center;
    background-color : #eff3f8;
}

.section-date .col-head h3{
    font-size: 24px;
    font-weight: 500;
    font-family: Verdana;
    color : #eff3f8;
    background-color : #55616f;
    padding: 10px;
    margin: 0px;
}

.section-date .col-body {
    text-align : center;
    padding-left: 5px;
    height : 500px;
    overflow-y: auto;
}

.section-date .col-body li {
    padding: 5px;
}

.section-date .col-body .month-dimmed {
    padding : 10px;
}

.section-date .col-body .month-dimmed span{
    color: #666;
    font-size: 30px;
    font-family: Verdana;
    font-weight: bold;
    line-height: 24px;
}
.section-date .col-body .month-dimmed .year {  font-size: 12px;  }
.section-date .col-body .month-dimmed .month {  font-size: 32px;  }

.section-date .col-body .day span {
    color: #666;
    font-size: 14px;
    font-weight: 700;
}

.section-date .col-body .day-sat span {
    color: #31597e;
    font-size: 14px;
    font-weight: 700;
}
.section-date .col-body .day-sun span{
    color: #ad2727;
    font-size: 14px;
    font-weight: 700;
}

::-webkit-scrollbar {  width: 8px;  }
::-webkit-scrollbar-track {  background-color: #eff3f8;  }
::-webkit-scrollbar-thumb {
    background-color: #667380;
    border-radius : 5px;
    -webkit-border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #55616f;
}

/* BoxScore - GamePicker */

.gamebox {  }

.section-game {
    text-align : center;
    background-color : #eff3f8;
}

.section-game .col-head h3{
    font-size: 24px;
    font-weight: 500;
    font-family: Verdana;
    color : #eff3f8;
    background-color : #55616f;
    padding: 10px;
    margin: 0px;
}

.section-game .col-body {
    text-align : center;
    padding-left: 5px;
    height : 500px;
    overflow-y: auto;
}

.section-game .col-body li {
    padding: 5px;
}

.gamePicker li {
     height: 55px;
     margin : 10px 15px 10px 10px;
 }

.gamePicker span{
    color: #333333;
    font-size: 20px;
    font-family: Verdana;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
}

.gamePickerBox[data-name="SS"] {  background: #4186BB;  }
.gamePickerBox[data-name="HH"] {  background: #ED5F23;  }
.gamePickerBox[data-name="SK"] {  background: #E0002A;  }
.gamePickerBox[data-name="HT"] {  background: #E70005;  }
.gamePickerBox[data-name="LG"] {  background: #C6064C;  }
.gamePickerBox[data-name="OB"] {  background: #EF868B;  }
.gamePickerBox[data-name="LT"] {  background: #F04E22;  }
.gamePickerBox[data-name="WO"] {  background: #9A304D;  }
.gamePickerBox[data-name="KT"] {  background: #868586;  }
.gamePickerBox[data-name="NC"] {  background: #2C5482;  }

.left-img {
    float : left;
    height : 40px;
}
.right-img {
    float : right;
    height : 40px;
}
